@use "./subStyle/variable.scss" as *;
@use "./subStyle/mixins.scss" as *;
// GOOGLE FONT
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  font-family: "Questrial", sans-serif;
  letter-spacing: 2px;
  // prova
  background-color: $color-text-primary;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .btn-green {
    background-color: $bg-color-green;
    color: $bg-color-cream;
    border-radius: 50px;
    &:hover {
      background-color: transparent;
      box-shadow: inset 0px 0px 0px 3px $bg-color-green;
      color: $bg-color-green;
    }
  }
}
