@use "./subStyle/variable.scss" as *;
@use "./subStyle/mixins.scss" as *;

body {
  // prova
  background-color: $color-text-primary;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
